$image : "https://images.unsplash.com/photo-1519046904884-53103b34b206?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80;";

// default Styles
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}



body{
    background-color: rgb(235, 231, 231);
}

//end of deafult styles


//Navbar component styling
.Navbar{
    //container
    display: grid;
    grid-template-columns: auto 3fr 1fr;
    background-color: white;
    padding: 10px;
    

    //Logo
    &__logo{
        font-size: 0.6rem;
        display: flex;
        justify-content: flex-start;
        

        //h1 element
        h1{
            margin-left: 2rem;
        }
    }

    //Items
    &__items{
        display: grid;
        align-items: center;

        //List
        ul{
            display: flex;
            flex-direction: row;
            

            
            li{
                margin: 0px 10px;
                padding-left: 3rem;

                &:hover{
                    cursor: pointer;
                    color: rgb(1, 196, 147);
                }
            }
        }
    }


    //button
    &__buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 20px;

        button{
            border: none;
            background-color: transparent;
            font-size: 1.1rem;
            padding: 10px;
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover{
                cursor: pointer;
                background-color: rgb(1, 196, 147);
                color: white;
                

            }

            
            
        }

    }
}
//Navbar component styling ending

//Form component Styling Start
.Form{
    height: 100vh;

    h1{
        padding: 0px;
        margin: 0px;
        
    }

    &__container{

        //container
        margin: 2rem 10% auto;
        background-color: white;
        padding: 1rem;
     
        
        //title
        &--title{
            display: flex;
            justify-content: center;
            padding: 1rem;
            font-size: 0.9rem;
            color: rgb(71, 70, 70);

            
        }

        //body

        &--body{

            //body

            background-image: url($image);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
            //form main
            form{

                //form inner title 
                h1{
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 1.4rem;
                    padding-top: 30px;
                }


                // border: 2px dashed rgb(26, 25, 25);
                display: flex;
                flex-direction: column;
                backdrop-filter: blur(4px) brightness(80%) contrast(90%);
                

                //all divs
                div{
                    display: flex;
                    flex-direction: column;
                    margin: 10px;

                    //labels
                    label{
                        color: rgb(13, 13, 13);
                    }

                    //inputs
                    input{
                        padding: 8px;
                        border: 2px solid transparent;
                        border-radius: 2px;
                        font-size: 1.1rem;
                    }
                }

                //button
                button{
                    align-self: center;
                    border: none;
                    font-size: 1.1rem;
                    border-radius: 30px;
                    padding: 15px 30px 15px 30px;
                    margin-top: 15px;
                    background-color: rgb(4, 82, 94);
                    color: white;
                    margin-bottom: 2rem;
                    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);

                    //on hover button
                    &:hover{
                        background-color: rgb(3, 150, 150);
                        cursor: pointer;
                    }
                }



                
            }
        }
    }
}