@font-face {
    font-family: NunitoSans;
    src: url("./Assets/@fonts/NunitoSans-SemiBold.ttf");
}

@font-face {
    font-family: NunitoSansRegular;
    src: url("./Assets/@fonts/NunitoSans-Regular.ttf");
}

@font-face {
    font-family: NunitoSansBold;
    src: url("./Assets/@fonts/NunitoSans-Bold.ttf");
}